* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Helvetica;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
/* Nav bar topo*/
nav {
    background-color: #1e1f1e;
    width: 100%;
    padding: 30px;
    font-size: 20px;
}

nav li {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
    
}


/* introdução*/
#intro-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#logo-main {
    height: 350px;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

#intro-container p {
    text-align: center;
    width: 50%;;
    font-weight: bold;
    font-size: 22px;
    margin: 10px auto;
    color: #000;
    position: relative;
    top: -80px;
}
/*container do meio*/
#mid-container  {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    width: 70%;
}
/*container de login*/
#form-container {
    text-align: center;
}

#form-box {
    border: 1px solid #dbdbdb;
    width: 350px;
    margin-top: 30px;
    padding: 10px;
}

#login-form {
    margin-top: 20px;
}

#login-form input {
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}

#login-form input[type="submit"] {
    background-color: #4f7ae5;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}

#login-form input[type="submit"]:hover {
    background-color: #69dcdf;
}

.separator {
    position: relative;
  }
  
.line {
    border-top: 1px solid #dbdbdb;
    width: 268px;
    margin: 25px auto 35px;
  }
  
.separator span {
    position: absolute;
    text-transform: uppercase;
    color: #bbb;
    background-color: #fff;
    top: -6px;
    width: 50px;
    margin-left: -25px;
    font-size: 14px;
}

#gmail-login {
    margin-bottom: 25px;
}

#gmail-login a {
    text-decoration: none;
    color: #385185;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gmail-login img {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

#gmail-login span {
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
}

/*Esqueceu sua senha*/

#forgot-pass {
    margin-bottom: 20px;
    font-size: 12px;
  }

  #forgot-pass a {
    text-decoration: none;
    color: #373799;
  }

/*register*/

#register-container {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 350px;
    margin-top: 10px;
    padding: 25px;
  }

  #register-container p {
    font-size: 14px;
    color: #262626;
  }

  #register-container a {
    color: #4a95f6;
    font-weight: bold;
    text-decoration: none;
  }

/* GET APP */
#get-app-container {
  text-align: center;
width: 350px;
}
  
#get-app-container p {
   margin: 20px 0;
   font-size: 13px;
}
  
#get-app-container a {
   text-decoration: none;
}

#get-app-container img {
    width: 136px;
    height: 40px;
  }

footer {
    text-align: center;
    font-weight: bold;
    color: #fff;

}

/* media query*/

/*mobile*/

@media (max-width: 450px) {
    body {
        background-color: #fff;
    }

    #main-container nav {
        display: none;
    } 

    #logo-main {
        border: none;
        width: 100%;
        margin: 0;
    }

    #intro-container p {
        display: none;
    }

    #mid-container {
        border: none;
        width: 100%;
    }

    #banner-container {
        display: none;
    }

    #main-container,
    #form-box {
        margin-top: 0;
    }

    #form-container,
    #form-box,
    #register-container,
    #get-app-container {
        width: 100%;
        border: none;
    }

    footer {
        width: 100%;
    }


}
